{{> navigation}}
<section>
    <div class="container">
        <div class="col-md-12">
            <div style="margin-bottom: 100px;" class="content">
                <h2 style="margin-top:80px;">Page Not Found</h2>
                <p>We're sorry, the resource you are looking for has either been removed or is unavailable.</p>
            </div>
        </div>
    </div>
    </div>
</section>