{{> navigation}}
<div class="background-clouds breadcrumbs-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Pages</li>
            <li class="active">Article</li>
        </ol>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group bright background-clouds color-text">
                    <div class="list-group-item"><h3>Menu</h3></div>
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item active">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                    <h1><span>{{data.article.title}}</span></h1>
                    {{{data.article.content}}}
                </div>
            </div>
        </div>
    </div>
</section>
