{{> navigation}}
{{> breadcrumb}}
<section>
    <div class="container">
        {{> sideMenu}}
            <div class="col-md-9">
                <div class="content">
                    <h1><span>{{data.article.title}}</span></h1>
                    {{{data.article.content}}}
                </div>
            </div>
        </div>
    </div>
</section>
