{{> navigation}}
{{> breadcrumb}}
<section>
    <div class="container">
        <div class="col-md-3">
            <div class="list-group bright background-clouds color-text">
                <div class="list-group-item"><h3>Menu</h3>
                    <a href="/profile/" class="list-group-item active">Profile</a>
                    <a href="/profile/" class="list-group-item">Calculator</a>
                    <a href="/profile/" class="list-group-item">Quick Quote</a>
                    <a href="/profile/" class="list-group-item">Referrals</a>
                    <a href="/profile/" class="list-group-item">Solar Party</a>
                    <a href="/profile/" class="list-group-item">Maintenance</a>
                    <a href="/profile/" class="list-group-item">Monitoring</a>
                    <a href="/profile/" class="list-group-item">Evaluation</a>
                    <a href="/profile/" class="list-group-item">Support</a>
                    <a href="/profile/" class="list-group-item">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <h1><span>Emmanuel Nelson</span></h1>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab">Your Information</a></li>
                    <li><a href="#project" role="tab" data-toggle="tab">Project Information</a></li>
                    <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <h3>Your Information:</h3>
                        <table class="table table-striped">
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>#</th>-->
                                <!--<th>First Name</th>-->
                                <!--<th>Last Name</th>-->
                                <!--<th>Username</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tbody>
                            <tr>
                                <td class="bold">Company</td>
                                <td>Emmanuel Nelson</td>
                                <td class="bold">Work Phone</td>
                                <td>555-248-9383</td>
                                <td class="bold">Address</td>
                                <td>1234 South Street</td>
                            </tr>
                            <tr>
                                <td class="bold">Contact</td>
                                <td>Emmanuel Nelson</td>
                                <td class="bold">Home Phone</td>
                                <td>555-248-9383</td>
                                <td class="bold">Suite #</td>
                                <td>1234 South Street</td>
                            </tr>
                            <tr>
                                <td class="bold">Prefix</td>
                                <td>Emmanuel Nelson</td>
                                <td class="bold">Cell Phone</td>
                                <td>555-248-9383</td>
                                <td class="bold">City</td>
                                <td>1234 South Street</td>
                            </tr>
                            <tr>
                                <td class="bold">Department</td>
                                <td>Emmanuel Nelson</td>
                                <td class="bold">Fax</td>
                                <td>555-248-9383</td>
                                <td class="bold">State</td>
                                <td>1234 South Street</td>
                            </tr>
                            <tr>
                                <td class="bold">Title</td>
                                <td>Emmanuel Nelson</td>
                                <td class="bold">Email</td>
                                <td>555-248-9383</td>
                                <td class="bold">Postal Code</td>
                                <td>1234 South Street</td>
                            </tr>
                            <tr>
                                <td class="bold"></td>
                                <td></td>
                                <td class="bold">Web Site</td>
                                <td>555-248-9383</td>
                                <td class="bold">Country</td>
                                <td>1234 South Street</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="project">
                        <h3>Project Information</h3>

                    </div>
                    <div class="tab-pane" id="messages">...</div>
                    <div class="tab-pane" id="settings">...</div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

