{{> navigation}}
{{> breadcrumb}}
<section>
    <div class="container">
        {{> profile-sideMenu}}
        <div class="col-md-9">
            <div class="content">
                <h1><span>Quick Quote</span></h1>
                <!--{{{data.form.content}}}-->
                <form class="form-horizontal">
                    <fieldset><!-- Form Name -->
                        <legend>(*Required)</legend>
                        {{> generic-form}}
                        <div class="form-group"><label class="col-md-4 control-label" for="propertyType">* Property
                            Type</label>

                            <div class="col-md-5"><select id="propertyType" class="form-control" name="propertyType">
                                <option value="1">-</option>
                                <option value="Residential Single Story">Residential Single Story</option>
                                <option value="Residential Double Story">Residential Double Story</option>
                                <option value="Commercial Single Story">Commercial Single Story</option>
                                <option value="Commercial Multiple Story">Commercial Multiple Story</option>
                                <option value="Educational Institution">Educational Institution</option>
                                <option value="Government Facility">Government Facility</option>
                                <option value="New Home Construction">New Home Construction</option>
                            </select></div>
                        </div>

                        <!-- Button Drop Down -->
                        <div class="form-group"><label class="col-md-4 control-label" for="electricBill">Average
                            Electric Bill</label>

                            <div class="col-md-5">
                                <div class="input-group"><input id="electricBill" class="form-control"
                                                                name="electricBill" type="text"
                                                                placeholder="$"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                data-toggle="dropdown"> Choose One
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Per Month</a></li>
                                            <li><a href="#">Per Year</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button Drop Down -->
                        <div class="form-group"><label class="col-md-4 control-label" for="usage">Average
                            kWh Usage</label>

                            <div class="col-md-5">
                                <div class="input-group"><input id="usage" class="form-control"
                                                                name="usage" type="text"
                                                                placeholder="# kWh"/>

                                    <div class="input-group-btn">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                data-toggle="dropdown"> Choose One
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Per Month</a></li>
                                            <li><a href="#">Per Year</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group"><label class="col-md-4 control-label" for="utilityCompany">Utility</label>

                            <div class="col-md-5"><input id="utilityCompany" class="form-control input-md" name="utilityCompany"
                                                         type="text" placeholder="Your Utility Company"/> <span
                                    class="help-block">(example: SRP, APS, TEP)</span></div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group"><label class="col-md-4 control-label" for="utilityRatePlan">Utility
                            Rate Plan</label>

                            <div class="col-md-5"><input id="utilityRatePlan" class="form-control input-md"
                                                         name="utilityRatePlan" type="text"
                                                         placeholder="Utility Rate Plan"/></div>
                        </div>
                        <!-- Select Multiple -->
                        <div class="form-group"><label class="col-md-4 control-label" for="hearAbout">*
                            How Did You Hear About Us</label>

                            <div class="col-md-5"><select id="hearAbout" class="form-control"
                                                          multiple="multiple" name="hearAbout">
                                <option value="">Google</option>
                                <option value="">Bing</option>
                                <option value="">Yahoo</option>
                                <option value="">Facebook</option>
                                <option value="">Twitter</option>
                                <option value="">LinkedIn</option>
                                <option value="">Youtube</option>
                                <option value="">Direct Mailer</option>
                                <option value="">Door Hanger</option>
                                <option value="">Canvasser</option>
                                <option value="">Email</option>
                                <option value="">Website Banner</option>
                                <option value="">Radio</option>
                                <option value="">Television</option>
                                <option value="">Trade Show</option>
                                <option value="">Magazine</option>
                                <option value="">Newspaper</option>
                                <option value="">Other</option>
                            </select></div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group"><label class="col-md-4 control-label" for="comments">Comments</label>

                            <div class="col-md-4"><textarea id="comments" class="form-control"
                                                            style="margin: 2px; width: 555px; height: 56px;"
                                                            name="comments">Provide any additional information you feel
                                necessary</textarea></div>
                        </div>
                    </fieldset>
                </form>
                <div class="confirmationMessage" style="display:none;">
                    <hr>
                    {{#if data.form.confirmationMessage}}
                        {{{data.form.confirmationMessage}}}
                    {{else}}
                        <p>Thanks for contacting us. We will get back to you as soon as possible.</p>
                    {{/if}}
                </div>
                <input type="hidden" id="user" value="{{data.user.id}}"/>
            </div>
        </div>
    </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {

        $('.content form').append('<div class="form-group"><div class="col-md-4 col-md-offset-4"><button type="submit" id="submit-form" class="btn btn-lead btn-lg">Submit</button></div></div>');


        $('.content form').on('click', '#submit-form', function (e) {
            e.preventDefault();

            $('form').parsley().validate();
            if ($('form').parsley().isValid() === true) {
//                var formValues = $('.content form').serializeArray();
//                var formMarkdown = "";
//                _.each(formValues, function (item) {
//                    formMarkdown += '* ' + item.name + ': ' + item.value + '\r\n';
//                })
//                $.ajax({
//                    url: '/api/form',
//                    type: 'POST',
//                    data: {
//                        form: $('#form-name').val(),
//                        response: formValues,
//                        formMarkdown: formMarkdown
//                    },
//                    success: function (result) {
//                        if (result.success) {
//                            $('.content form').hide();
//                            $('.confirmationMessage').show();
//                        }
//                    },
//                    error: function () {
//                        $('.content form').before('<p>There was an error processing your message.  Please try sending again.</p>');
//                    }
//                })
            }
        });

        $('.datetimepicker').datetimepicker();

        $('.input-group-btn ul li a').click(function (e) {
            e.preventDefault();
            var $this = $(this);
            var currVal = $this.parents('.input-group').find('input').val();
            $this.parents('.input-group').find('input').val(currVal + ' ' + $this.text());
        });
    });
</script>
