{{!< auth}}
<div class="auth-body"><h1 class="sr-only">Sign In</h1>

    <div class="auth-box">
        <div class="auth-box-col">
            <div class="auth-box-brand"><a href="/" class="auth-box-logo"><img src="/keystone/images/logo.png"
                                                                               width="205" height="68"
                                                                               alt="SolarTopps"></a></div>
        </div>
        <div class="auth-box-col">
            <form method="post" novalidate="" class="auth-form"><input type="hidden" name="_csrf"
                                                                       value="QTNJXy1NdyPPThtl5+b24rvcqvi/wnv3wtLcs=">

                <div class="form-group"><label for="email">Email</label><input type="email" name="email" id="email"
                                                                               class="form-control"></div>
                <div class="form-group"><label for="password">Password</label><input type="password" name="password"
                                                                                     id="password"
                                                                                     class="form-control"></div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
</div>