<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>Sign into SolarTopps</title>
    <link rel="stylesheet" href="/keystone/styles/auth.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="auth-wrapper">
    <div class="alert alert-placeholder">{{alert}}</div>
    {{{body}}}
    <div class="auth-footer">Powered by <a href="http://keystonejs.com" target="_blank"
                                           title="The Node.js CMS and web application platform (new window)">KeystoneJS</a>
    </div>
    <script>try {
        document.getElementById('email').focus();
    } catch (e) {
    }
    ;</script>
</div>
</body>
</html>