<!DOCTYPE html>
<html>
<head>
    <title>Solar Topps</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="publisher" href="https://plus.google.com/100518688263944048035">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href="/styles/neat-green.css" rel="stylesheet" media="screen" id="neat-stylesheet">
    <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="/libs/lightbox/css/lightbox.css" rel="stylesheet" type="text/css">

    <!-- Use google font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic|Lustria"
          rel="stylesheet" type="text/css"/>
    {{>seo}}
    <script type="text/javascript">//<![CDATA[
    // Google Analytics for WordPress by Yoast v4.3.5 | http://yoast.com/wordpress/google-analytics/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43388711-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    //]]></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{{body}}}
<footer class="background-midnight-blue color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Location</h3>
                <ul class="nav-footer">
                    <li><a href="https://maps.google.com/maps?q=solar+topps+102+S+28th+St&hl=en&ll=33.446634,-112.022148&spn=0.006419,0.013078&sll=33.446706,-112.021&sspn=0.006419,0.013078&hq=solar+topps&hnear=102+S+28th+St,+Phoenix,+Arizona+85034&t=m&z=17" target="_blank">102 S. 28th Street</a></li>
                    <li><a href="https://maps.google.com/maps?q=solar+topps+102+S+28th+St&hl=en&ll=33.446634,-112.022148&spn=0.006419,0.013078&sll=33.446706,-112.021&sspn=0.006419,0.013078&hq=solar+topps&hnear=102+S+28th+St,+Phoenix,+Arizona+85034&t=m&z=17" target="_blank">Phoenix, Arizona 85034</a></li>
                    <li>Phone : (480) 940-1201</li>
                    <li>Fax : (480) 940-1206</li>
                    <li>Email:<a href="mailto://info@solartopps.com"> info@solartopps.com</a></li>
                </ul>
                <!--<div style="margin-top:140px;">-->
                    <!--<a href="/forms/free-energy-consultation" target="_blank"><img style="width:75%;"  src="/images/Book Now.png"></a>-->
                <!--</div>-->
            </div>
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Solar Topps Arizona's premier all-in-one solar company and largest SunPower Elite Dealer. With flexible options to purchase, finance or lease a solar system, we offer the best products installed by the highest-qualified personnel with industry-leading warranties on workmanship, installation and products. Our in-house team of solar experts provide you a single point of contact and accountability, making it easy and hassle-free to go solar. </p>
                <!--<div style="margin-top:70px;">-->
                    <!--<a href="/Company/about-us" target="_blank"><img style="width:65%;" src="/images/Certified PV Installer.png"></a>-->
                <!--</div>-->
            </div>
            <div class="col-md-5">
                <h3>Contact Us</h3>
                <form class="contact form-horizontal" role="form" method="post" action="/api/contact/">
                    <div class="form-group">
                        <label for="name" class="col-lg-3 control-label">Name</label>

                        <div class="col-lg-9">
                            <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-3 control-label">Email</label>

                        <div class="col-lg-9">
                            <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-lg-3 control-label">Content</label>
                        <div class="col-lg-9">
                            <textarea id="message" name="message" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <button type="submit" id="submit-contact" class="btn btn-lead btn-lg">Send us an email</button>
                        </div>
                    </div>
                </form>
                <!--<div>-->
                    <!--<a href="http://www.bbb.org/central-northern-western-arizona/business-reviews/solar-energy-system-design-and-installation/solar-topps-llc-in-phoenix-az-1000011202/" target="_blank"><img style="width:22%;" src="/images/BBB Logo.png"></a>-->
                    <!--<a href="http://us.sunpower.com/dealer/?dealerId=0018000000reOYVAA2" target="_blank"><img style="width:74%;margin-left:2%;" src="/images/sunpower_small.jpg"></a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row solarlogos">
            <div class="col-md-3">
                <a href="/forms/free-energy-consultation" target="_blank"><img style="width:75%;"  src="/images/Book Now.png"></a>
            </div>
            <div class="col-md-3">
                <a href="/Company/about-us" target="_blank"><img style="width:85%;" src="/images/Certified PV Installer.png"></a>
            </div>
            <div class="col-md-3" style="margin-top:10px;">
                <a href="http://www.bbb.org/central-northern-western-arizona/business-reviews/solar-energy-system-design-and-installation/solar-topps-llc-in-phoenix-az-1000011202/" target="_blank"><img style="width:42%;margin-left:40px;" src="/images/BBB Logo.png"></a>
            </div>
            <div class="col-md-3" style="margin-top:20px;">
                <a href="http://us.sunpower.com/dealer/?dealerId=0018000000reOYVAA2" target="_blank"><img style="width:140%;" src="/images/sunpower_small.jpg"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        All rights reserved &copy; 2014 <a href="http://solartopps.com">Solar Topps LLC.</a>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <a href="/resources/privacy-policy">Privacy Policy</a> | <a href="/resources/terms-of-use">Terms of Use</a> | <a href="/sitemap">Sitemap</a>
                    </div>
                    <div class="col-md-4">
                        <p class="social">
                            <a href="https://www.facebook.com/SolarTopps"><span class="fa fa-facebook"></span></a>
                            <a href="https://twitter.com/solartopps"><span class="fa fa-twitter"></span></a>
                            <a href="https://www.youtube.com/user/SolarTopps"><span class="fa fa-youtube"></span></a>
                            <!--<a href="https://www.linkedin.com/vsearch/p?company=Solar+Topps+LLC&trk=prof-exp-company-name"><span class="fa fa-linkedin"></span></a>-->
                            <a href="https://plus.google.com/100022574091548887877/about"><span class="fa fa-google-plus"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- Include slider -->
<script src="/js/jquery.event.move.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/responsive-slider.js"></script>
<script src="/js/responsive-calendar.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/libs/lightbox/js/lightbox-2.6.min.js"></script>
<script src="/js/reduce-menu.js"></script>
<script src="/js/match-height.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        if ($(window).width() > 767) {
            matchHeight($('.info-thumbnail .caption .description'), 3);
        }

        $(window).on('resize', function () {
            if ($(window).width() > 767) {
                $('.info-thumbnail .caption .description').height('auto');
                matchHeight($('.info-thumbnail .caption .description'), 3);
            }
        });
        $('#submit-contact').click(function(e){
            e.preventDefault();
            $.ajax({
                url: '/api/contact',
                type:'POST',
                data: {
                   name: $('form.contact #name').val(),
                   email: $('form.contact #email').val(),
                   message: $('form.contact #message').val()
                },
                success:function(result){
                    if(result.success){
                        $('form.contact').hide();
                        $('form.contact').after('<p>Thanks for contacting us.  We will get back to you as soon as possible.</p>');
                    }
                },
                error:function(){
                    $('form.contact').before('<p>There was an error processing your message.  Please try sending again.</p>');
                }
            })
        });
    });
</script>
{{{data.scripts}}}
</body>
</html>