<div class="background-clouds breadcrumbs-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Pages</li>
            <li class="active">Article</li>
        </ol>
    </div>
</div>