<div class="background-clouds breadcrumbs-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            {{#if data.breadcrumbs.hasSubMenu}}
                <li class="active">{{data.breadcrumbs.subMenu}}</li>
            {{/if}}
            <li class="active">{{data.breadcrumbs.name}}</li>
        </ol>
    </div>
</div>