<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="name">* Full Name</label>
    <div class="col-md-5"><input id="name" class="form-control input-md" name="name" required="" type="text" placeholder="Full Name" /> <span class="help-block">(example: John Smith)</span></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="email">Email Address</label>
    <div class="col-md-5"><input id="email" class="form-control input-md" name="email" type="text" placeholder="Email Address" /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="homePhone">Home Phone Number</label>
    <div class="col-md-5"><input id="homePhone" class="form-control input-md" name="homePhone" type="text" placeholder="xxx-xxx-xxxx" /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="cellPhone">Cell Phone Number</label>
    <div class="col-md-5"><input id="cellPhone" class="form-control input-md" name="cellPhone" type="text" placeholder="xxx-xxx-xxxx" /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="address">* Street Address</label>
    <div class="col-md-5"><input id="address" class="form-control input-md" name="address" required="" type="text" placeholder="123 Your St." /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="city">* City or Town</label>
    <div class="col-md-5"><input id="city" class="form-control input-md" name="city" required="" type="text" placeholder="Your City or Town" /></div>
</div>
<!-- Text input-->
<div class="form-group"><label class="col-md-4 control-label" for="zip">* Zip Code</label>
    <div class="col-md-5"><input id="zip" class="form-control input-md" name="zip" required="" type="text" placeholder="* Your Zip Code" /></div>
</div>
