<!-- Text input-->
<div class="form-group">
    <div class="col-md-5"><input id="name.first" class="form-control input-md" name="name.first" required="" type="text" placeholder="First Name*" /></div>
    <div class="col-md-5"><input id="name.last" class="form-control input-md" name="name.last" required="" type="text" placeholder="Last Name*" /></div>
</div>
<!-- Text input-->
<div class="form-group">
    <div class="col-md-10"><input id="email" class="form-control input-md" name="email" type="text" placeholder="Email Address*" /></div>
</div>
<!-- Text input-->
<div class="form-group">
    <div class="col-md-10"><input id="homePhone" class="form-control input-md" name="homePhone" type="text" placeholder="Home Phone (xxx-xxx-xxxx)" /></div>
</div>
<!-- Text input-->
<div class="form-group">
    <div class="col-md-10"><input id="cellPhone" class="form-control input-md" name="cellPhone" type="text" placeholder="Cell Phone (xxx-xxx-xxxx)" /></div>
</div>
<!-- Text input-->
<div class="form-group">
    <div class="col-md-10"><input id="address" class="form-control input-md" name="address" required="" type="text" placeholder="Address (123 Your St.)*" /></div>
</div>
<!-- Text input-->
<div class="form-group">
    <div class="col-md-4"><input id="city" class="form-control input-md" name="city" required="" type="text" placeholder="City/Town*" /></div>
    <div class="col-md-2"><input id="zip" class="form-control input-md" name="zip" required="" type="text" placeholder="Zip Code*" /></div>
    <div class="col-md-4"><input id="state" class="form-control input-md" name="state" required="" type="text" placeholder="State*" /></div>
</div>
<!-- Text input-->
<!--<div class="form-group">-->
    <!--<div class="col-md-2"><input id="zip" class="form-control input-md" name="zip" required="" type="text" placeholder="Zip Code*" /></div>-->
<!--</div>-->
<!--&lt;!&ndash; Text input&ndash;&gt;-->
<!--<div class="form-group">-->
    <!--<div class="col-md-3"><input id="state" class="form-control input-md" name="state" required="" type="text" placeholder="State*" /></div>-->
<!--</div>-->
